[submodule "External/src/ispc"]
	path = External/src/ispc
	url = https://github.com/ispc/ispc.git
[submodule "External/src/crossguid"]
	path = External/src/crossguid
	url = https://github.com/S-LiuXiaolong/crossguid.git
[submodule "External/src/tinygltf"]
	path = External/src/tinygltf
	url = https://github.com/S-LiuXiaolong/tinygltf.git
[submodule "External/src/lodepng"]
	path = External/src/lodepng
	url = https://github.com/S-LiuXiaolong/lodepng.git
[submodule "External/src/zlib"]
	path = External/src/zlib
	url = https://github.com/S-LiuXiaolong/zlib.git
[submodule "External/src/libjpeg-turbo"]
	path = External/src/libjpeg-turbo
	url = https://github.com/S-LiuXiaolong/libjpeg-turbo.git
[submodule "External/src/stb"]
	path = External/src/stb
	url = https://github.com/nothings/stb.git
