[submodule "External/src/ispc"]
	path = External/src/ispc
	url = https://github.com/ispc/ispc.git
[submodule "External/src/OpenGEX"]
	path = External/src/OpenGEX
	url = https://github.com/Shepherd-Liu/OpenGEX.git
